
body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c9805f;
  background-size: cover;
  font-family: "Times New Roman", serif;
  text-align: center;
}

.card {
  width: 300px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 25px black;
}

.photo {
  height: 210px;
  background-image: url("trees.jpg");
  background-size: cover;
  background-position: center;
}

.text {
  padding: 20px 25px 30px 25px;
}

.date {
  color: #12b84a;
  font-size: 14px;
}

.title {
  color: black;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.description {
  color: gray;
  font-size: 15px;
}
.stats {
  display: flex;
  background-color: #12b84a;
  color: white;
}

.stat {
  width: 33.3%;
  padding: 15px 0;
  border-right: 1px solid #0e9a3d;
}

.stat:last-child {
  border-right: none;
}

.number {
  font-size: 24px;
}

.label {
  font-size: 13px;
}
